@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* body part */

body {
    margin: 0;
    font-family: Poppins;
}


/* ----------------
    header 
------------------*/

header {
    padding: 10px 50px;
    background-color: #2D25A0;
    position: sticky;
    top: 0;
    z-index: 99;
}


/* navigation bar  */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-links li {
    list-style: none;
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links {
    display: flex;
    justify-content: space-around;
}

.nav-links a,
.small-menu a {
    color: white;
    text-decoration: none;
}

.small-menu {
    display: none;
}

.login-btn {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #E02C6D;
    display: flex;
    align-items: center;
}

.login-btn img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}


/* header banner  */

.header-banner {
    background-color: #2D25A0;
    display: flex;
    justify-content: space-evenly;
}

.header-banner:hover .banner-title h1 {
    animation: blink 2s infinite forwards;
}

@keyframes blink {
    0% {
        color: white;
        ;
    }
    25% {
        color: coral;
    }
    50% {
        color: aqua;
    }
    75% {
        color: teal;
    }
    100% {
        color: white;
    }
}

.banner-title {
    max-width: 485px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-title h1 {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    font-size: 50px;
}

.watch-btn {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin-bottom: 30px;
    background-color: #E02C6D;
}

.watch-btn .fa-arrow-right {
    padding-left: 5px;
    transition: transform 0.5s;
}

.watch-btn:hover .fa-arrow-right {
    transform: translateX(8px);
}

.header-banner .banner-img img {
    width: 556px;
    height: 438px;
}


/*-------------
    main 
--------------*/


/* players area  */

.players-info {
    padding: 20px 120px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.player {
    background-color: white;
    padding: 20px;
    box-shadow: 1px 1px 8px 15px rgb(138 138 138 / 12%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player img,
.player-name {
    width: 100%;
    height: auto;
}


/* prize money container  */

.prize-money-container {
    margin-top: 100px;
    text-align: center;
    padding: 10px 20px;
}

.prize-money-container fieldset {
    border: 5px solid #2c4d54;
}

.prize-money-container .teams {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    justify-content: center;
    align-items: center;
}

.prize-money-container .teams .team {
    box-shadow: 1px 1px 8px 5px rgb(138 138 138 / 12%);
    position: relative;
}

.prize-money-container .teams .team img {
    width: 100%;
    height: 150px;
}

.prize-money-container .teams .team figure figcaption {
    text-align: center;
}

.prize-money-container .teams .team span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    font-family: cursive;
    font-size: 30px;
    font-weight: bold;
    background: -webkit-linear-gradient(#ebfd53, #ffcb0d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: rotate(-45deg);
}


/* popular videos */

.popular-videos {
    margin-top: 100px;
    text-align: center;
    background-color: #dde2e6;
    padding: 10px 0;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video iframe {
    width: 100%;
}

.video h3 {
    margin-top: 0;
}


/* highlight-area */

.highlight-area {
    padding: 20px 120px;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.highlight-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.highlight-info h1 {
    font-weight: 700;
    font-Size: 38px;
    margin-bottom: 0;
}

.highlight-info p {
    margin-top: 0;
    padding-right: 60px;
}

.highlight-img img {
    width: 520px;
    height: 400px;
}


/* footer section  */

footer {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer>img {
    width: 483px;
    height: 110px;
}

footer .social-icons img {
    width: 32px;
    height: 32px;
}


/* for large medium screen */

@media only screen and (max-width: 1000px) {
    header {
        padding: 10px 20px;
    }
    nav .nav-links {
        display: none;
    }
    nav .small-menu {
        display: block;
        color: white;
        cursor: pointer;
        width: 24px;
        height: 24px;
        z-index: 9;
    }
    .small-menu-links {
        display: none;
    }
    nav .small-menu:hover .small-menu-links {
        display: flex;
        flex-direction: column;
        width: 200px;
        background-color: white;
    }
    .small-menu-links a {
        color: #000;
        padding: 5px 10px;
        border-bottom: 1px solid;
    }
    .small-menu-links a:hover {
        background-color: coral;
    }
    .small-menu li {
        list-style: none;
    }
    nav .small-menu:hover .nav-links {
        display: block;
    }
    .login-btn {
        padding: 8px 15px;
    }
    .header-banner .banner-img img {
        width: 400px;
        height: 280px;
    }
    .banner-title h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .players-info {
        padding: 25px;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 15px;
    }
    .highlight-area {
        margin-top: 50px;
        padding: 15px;
        flex-direction: column;
    }
    .highlight-info h1 {
        font-Size: 30px;
    }
    .highlight-info p {
        font-size: 16px;
        padding-right: 0;
    }
    .highlight-img img {
        width: 100%;
        height: auto;
    }
    .prize-money-container {
        padding: 10px 0;
    }
    .prize-money-container .teams {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
    .prize-money-container .teams .team img {
        width: 100%;
    }
    .prize-money-container .teams .team span {
        font-size: 25px;
    }
}


/* for medium screen  */

@media only screen and (max-width: 668px) {
    .header-banner {
        flex-direction: column;
    }
    .banner-title {
        margin-left: 50px;
    }
    .banner-title h1 {
        font-size: 44px;
        line-height: 60px;
    }
}


/* for small screen */

@media only screen and (max-width: 480px) {
    header {
        padding: 10px 20px;
    }
    .header-banner {
        flex-direction: column;
    }
    .header-banner .banner-img img {
        width: 300px;
        height: 250px;
    }
    .banner-title,
    .header-banner .banner-img img {
        margin-left: 20px;
    }
    .banner-title h1 {
        font-size: 36px;
        line-height: 50px;
    }
    .players-info {
        padding: 15px;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 24px;
    }
    .player {
        padding: 15px;
        box-shadow: 1px 1px 8px 13px rgb(138 138 138 / 12%);
    }
    .player img,
    .player-name {
        height: auto;
    }
    .prize-money-container .teams {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }
    .prize-money-container .teams .team img {
        width: 200px;
        height: 140px;
    }
    footer>img {
        width: 270px;
        height: 60px;
    }
}