@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* body part */

body {
    margin: 0;
    font-family: Poppins;
}


/* ----------------
    header styles 
------------------*/

header {
    padding: 20px 50px;
    background-color: #2D25A0;
}

.header-banner {
    display: flex;
    justify-content: space-evenly;
}

.banner-title {
    max-width: 485px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-title h1 {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    font-size: 50px;
}

.live-btn {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #E02C6D;
}

.live-btn .fa-arrow-right {
    padding-left: 5px;
    transition: transform 0.5s;
}

.live-btn:hover .fa-arrow-right {
    transform: translateX(8px);
}

.header-banner .banner-img img {
    width: 556px;
    height: 438px;
}

main {
    padding: 20px 150px;
}


/*-------------
 players area 
--------------*/

.players-info {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.player {
    background-color: white;
    padding: 10px;
    box-shadow: 1px 1px 8px 8px rgb(138 138 138 / 20%);
}

.player img {
    width: 300px;
    height: 256px;
    display: block;
    margin: 0 auto;
}


/*------------------- 
    highlight-area
--------------------*/

.highlight-area {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.highlight-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.highlight-info h1 {
    font-weight: 700;
    font-Size: 48px;
    margin-bottom: 0;
}

.highlight-info p {
    margin-top: 0;
    padding-right: 65px;
}

.highlight-img img {
    width: 520px;
    height: 400px;
}